<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdit=${photo.id != null}">
<head
        th:insert="fragments/resources :: headResources(${isEdit ? 'Edit Photo' : 'New Photo'})"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('Photo Album')"></nav>
<div class="container">
    <h1 th:text="${isEdit ? 'Edit Photo' : 'Add a photo'}"></h1>
    <hr>
    <form
            th:with="actionUrl=${isEdit ? '/photos/edit/'+photo.id : '/photos/create'}"
            method="POST"
            th:action="@{${actionUrl}}"
            th:object="${photo}"
    >
        <div class="row">
            <div class="col-6 mb-3" th:insert="/fragments/components :: formField('text','Title','title')"></div>
            <div class="col-6 mb-3"
                 th:insert="/fragments/components :: formField('text','Description','description')"></div>
            <div class="col-6 mb-3"
                 th:insert="/fragments/components :: formField('text','Photo Url','picture')"></div>
            <div class="col-7">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="visibility" id="visible" checked>
                    <label class="form-check-label" for="visible" value="1" th:field="isVisible">
                        Visible
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="visibility" id="notVisible">
                    <label class="form-check-label" for="notVisible" value="0" th:field="isVisible">
                        Not Visible
                    </label>
                </div>
            </div>
        </div>
        <!--        <div class="col-4 mb-2">-->
        <!--            <h5>Ingredienti</h5>-->
        <!--            <div class="form-check" th:each="ingr : ${ingredienti}">-->
        <!--                <input-->
        <!--                        class="form-check-input"-->
        <!--                        type="checkbox"-->
        <!--                        th:value="${ingr.id}"-->
        <!--                        th:id="|ingr_${ingr.id}|"-->
        <!--                        th:field="*{ingredList}">-->
        <!--                <label class="form-check-label" th:for="|ingr_${ingr.id}|" th:text="${ingr.name}">-->
        <!--                </label>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="mt-3">
            <button class="btn btn-primary" type="submit">Add Photo</button>
            <a th:href="@{/photos}" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>
</body>
</html>