<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdit=${photo.id != null}">
<head
        th:insert="fragments/resources :: headResources(${isEdit ? 'Edit Photo' : 'New Photo'})"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('Photo Album')"></nav>
<div class="container">
    <h1 th:text="${isEdit ? 'Edit Photo' : 'Add a photo'}"></h1>
    <hr>
    <form
            th:with="actionUrl=${isEdit ? '/photos/edit/'+photo.id : '/photos/create'}"
            method="POST"
            th:action="@{${actionUrl}}"
            th:object="${photo}"
    >
        <div class="row">
            <div class="col-6 mb-3" th:insert="/fragments/components :: formField('text','Title','title')"></div>
            <div class="col-6 mb-3"
                 th:insert="/fragments/components :: formField('text','Description','description')"></div>
            <div class="col-6 mb-3"
                 th:insert="/fragments/components :: formField('text','Photo Url','picture')"></div>
            <div class="col-7">
                <div class="d-flex align-items-center justify-content-start gap-3 mb-3" id="visible">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="visible" value="true"
                               id="isVisible" th:field="*{visible}">
                        <label class="form-check-label" for="isVisible">
                            Visible
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="visible" value="false"
                               id="isNotVisible" th:field="*{visible}">
                        <label class="form-check-label" for="isNotVisible">
                            Not Visible
                        </label>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-4 mb-2">
            <h5>Categories</h5>
            <div class="form-check" th:each="cat : ${categories}">
                <input
                        class="form-check-input"
                        type="checkbox"
                        th:value="${cat.id}"
                        th:id="|cat_${cat.id}|"
                        th:field="*{categories}">
                <label class="form-check-label" th:for="|cat_${cat.id}|" th:text="${cat.name}">
                </label>
            </div>
        </div>
        <div class="mt-3">
            <button class="btn btn-primary" type="submit" th:text="${isEdit ? 'Update Photo' : 'Add photo'}"></button>
            <a th:href="@{/photos}" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>
<th:block th:replace="fragments/resources :: jsResources"></th:block>
</body>
</html>