<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Photo Album')">
</head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('Photo Album')"></nav>
<div class="container">
    <div class="row">
        <div class="row col-5">
            <h1 class="col-6">Album</h1>
            <a class="col-6" th:href="@{/photos/create}">
                <i class="display-5 fa-solid fa-square-plus"></i>
            </a>
        </div>
        <div class="col-7">
            <form class="d-flex gap-2 my-2"
                  method="GET"
            >
                <input class="form-control" type="search" placeholder="Search for an img by title" aria-label="search"
                       name="search"
                       th:value="${param.search}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Visibility</th>
            <th scope="col">Picture</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="photo : ${photos}" th:object="${photo}">
            <td th:text="*{title}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{isVisible} ? 'yes':'no'"></td>
            <td><img style="width:100px;height:50px;" th:src="*{picture}" th:alt="*{description}"></td>
            <td class="d-flex gap-2">
                <a th:href="@{/photos/show/{id}(id=*{id})}"><i class="fa-solid fa-circle-info"></i></a>
                <form th:action="@{/photos/delete/{id}(id=*{id})}" method="POST">
                    <button type="submit" class="border-0 bg-white" onclick="return confirm('Delete?')">
                        <i class="text-danger fa-solid fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>