<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<body>
<nav th:fragment="topNavbar(area)"
     class="navbar navbar-expand-lg navbar-light bg-white row align-items-center border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img style="width:150px" th:src="@{/logo.png}"
                 alt="application logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" th:classAppend="${area == 'Home' ? 'active' : ''}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/photos}" th:classAppend="${area == 'Photo Album' ? 'active' : ''}">Photo
                        Album</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categories}"
                       th:classAppend="${area == 'Categories' ? 'active' : ''}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/messages}"
                       th:classAppend="${area == 'Messages' ? 'active' : ''}">Messages</a>
                </li>

            </ul>
        </div>
        <div class="me-3">
            <div class="mb-2" sec:authentication="name"></div>
            <a class="btn btn-primary" href="/logout">Logout</a></div>
    </div>
</nav>
</body>
</html>
