<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Home')">
</head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('Home')"></nav>
<div class="container text-center mt-4">
    <h3>Welcome to Photo Share</h3>
    <p>Choose what you want to do..</p>
    <div class="d-flex justify-content-center gap-4">
        <a class="btn btn-secondary" th:href="@{/photos}">Explore Photos</a>
        <a class="btn btn-secondary" th:href="@{/photos}">Browse Categories</a>
    </div>
</div>
<th:block th:replace="fragments/resources :: jsResources"></th:block>
</body>
</html>