<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Home')">
</head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('Home')"></nav>
<div class="container text-center mt-4">
    <h3 class="mb-4" sec:authorize="isAuthenticated()"><span
            th:text="${user.firstName + ' ' + user.lastName}"></span>, Welcome to Photo Share
    </h3>
    <div sec:authorize="!isAuthenticated()">
        <h3>Welcome..</h3>
        <p>
            Login if you wanna add your photos..
        </p>
        <a class="btn btn-primary" th:href="@{/login}">Login</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <div class="d-flex justify-content-center gap-4">
            <a class="btn btn-secondary" th:href="@{/photos}" sec:authorize="hasAuthority('ADMIN')">Explore
                Photos</a>
        </div>
    </div>
</div>
<th:block th:replace="fragments/resources :: jsResources"></th:block>
</body>
</html>